aside {
    background: linear-gradient(180deg, rgba(33, 37, 38, 0.80) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.30) 40.5%, rgba(33, 37, 38, 0.10) 100%), url(../assets/images/3a9fd20035f2c3e0287f51d795ab88ccb1cf61ce.jpg) lightgray 50%/ cover no-repeat;
    border-radius: .75rem;

    & header {
        margin-top: 2rem;
        margin-left: 2rem;
        font: var(--font-body-md);
        
        & h1 {
            margin-block: 1rem .25rem;
            font: var(--font-logo);
            color: var(--pink);
        }
    }
}