fieldset {

    & .legend-wrapper {
        display: flex;
        gap: .75rem;
        color: var(--text-heading);
        font: var(--font-header-sm);
        align-items: center;
        margin-bottom: 1.5rem;

        img {
            height: 1.5rem;
        }

        svg {
            height: 1.5rem;

            path {
                fill: var(--input-placeholder);
            }
        }
    }

    & .input-wrapper {
        display: grid;
        gap: .75rem;
        width: 100%;
    }

    & label {
        font: var(--font-body-sm);
    }

    & input {
        height: 3rem;
        padding-inline: 1rem;
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);
        font: var(--font-body-md);
        color: var(--input-placeholder);
    }

    & input::placeholder, 
    & textarea::placeholder {
        color: var(--input-placeholder);
    }

    & input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .double-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .double-radio-wrapper {
        display: flex;
        gap: .25rem;
        border: 1px solid white;
        
        height: 3rem;
        width: 100%;
        padding: .25rem;
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);
        font: var(--font-body-md);
        color: var(--input-placeholder);

        svg {
            height: 1rem;
        }
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            padding: .25rem;
            position: relative;
            width: 100%;
            height: 100%;
        }

        & input {
            all: unset;
            inset: 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }

        & div:has(input:checked) {
            background-color: var(--shape-button);
            border-radius: 0.3125rem;
            color: var(--text-heading);

            & path {
                fill: var(--brand-light);
            }
        }
    }

    textarea {
        padding: 1rem;
        width: 100%;
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);
        font: var(--font-body-md);
        color: var(--input-placeholder);
        resize: none;
    }


}